{% extends "header.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-11 col-lg-8">
        <div style="font-weight:bold; font-size:20px" align="center">
            About
        </div>
        <br>
        <div class="page-item">
            <div>
                The Hibike! Euphonium Archive project was created by members of
                the Liz and the Blue Bird discord server, with the goal of creating
                a comprehensive archive of all physical and digital visual
                content that have been created for the Hibike! franchise.  All
                files are hosted on Google Drive; this website is simply for search
                purposes.
                <br>
                <br>
                This website is created and maintained by camelfantasy.
                <br>
                Contact: Discord @camelfantasy#6654
                |
                Twitter:
                <a href="https://twitter.com/camelfantasy" class="reverse-link" target="_blank">@camelfantasy</a>
                <br>
                <br>
                All content belong to their respective owners.
            </div>
        </div>
        <br>
        <div class="page-item">
            <div align="center"><b>Changelog</b></div>
            <br>
            <div>
                Any notable changes will be listed here.
                <span style="color:red">This site is currently in beta.</span>
            </div>
            <br>
            <div>
                <b>0.5.0</b>
                <br>
                Added advanced search.
            </div>
            <br>
            <div>
                <b>0.4.2</b>
                <br>
                Updated appearance and operations of all tag suggestions.
            </div>
            <br>
            <div>
                <b>0.4.1</b>
                <br>
                Added buttons to navigate between images in the same folder.
            </div>
            <br>
            <div>
                <b>0.4.0</b>
                <br>
                API v1 added.
                Documentation added for unrestricted functions.
            </div>
            <br>
            <div>
                <b>0.3.2</b>
                <br>
                Each image on their own page now has a fixed width to handle large images and reduce overall loading times.
                The original file can still be accessed by clicking on the image.
            </div>
            <br>
            <div>
                <b>0.3.1</b>
                <br>
                Added loading message for adding/deleting tags on folder pages.
                <br>
                Added handling for large images.
            </div>
            <br>
            <div>
                <b>0.3.0</b>
                <br>
                Converted tag addition, tag removal, and notes update on image and folder pages to ajax;
                page no longer needs to reload after each change.
            </div>
            <br>
            <div>
                <b>0.2.4</b>
                <br>
                Pressing enter on a suggestion now immediately submits the form.
                <br>
                Clicking outside of the suggestions will now clear them.
            </div>
            <br>
            <div>
                <b>0.2.3</b>
                <br>
                Link previews for images now have large images in Discord.
            </div>
            <br>
            <div>
                <b>0.2.2</b>
                <br>
                Custom link previews for several pages.
            </div>
            <br>
            <div>
                <b>0.2.1</b>
                <br>
                Added link preview.
            </div>
            <br>
            <div>
                <b>0.2.0</b>
                <br>
                Added search suggestions.
                <br>
                Search suggestions now only accept exact tag names.
            </div>
            <br>
            <div>
                <b>0.1.2</b>
                <br>
                Notes display changes.
                <br>
                Tag suggestions no longer display ones already added.
                <br>
                Separate unsorted category for tags added from image or folder page.
            </div>
            <br>
            <div>
                <b>0.1.1</b>
                <br>
                Added notes field to files and folders.
                <br>
                Eliminated downtime.
                <br>
                Added analytics.
            </div>
            <br>
            <div>
                <b>0.1.0</b>
                <br>
                Improved mobile experience.
            </div>
            <br>
            <div>
                <b>0.0.1</b>
                <br>
                Fixed header and footer overflow issues.
                <br>
                Fixed header menu toggle.
            </div>
            <br>
            <div>
                <b>0.0.0</b>
                <br>
                Initial release.
            </div>
        </div>
    </div>
</div>
{% endblock %}