{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <!-- SAMPLE BELOW -->
        <div style="font-size:32px">Camelfantasy</div>
        <!-- SAMPLE ABOVE -->
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" style="text-align:center">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="" method="post">
            {{ password_form.csrf_token }}
            <div class="form-group row">
                <div class="col">
                    {{ password_form.password.label(class="form-control-label") }}
                    {{ password_form.password(class="form-control form-control-lg") }}
                    {% if password_form.password.errors %}
                    <div class="alert alert-warning" role="alert">
                        {% for error in password_form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="col">
                    {{ password_form.confirm_password.label(class="form-control-label") }}
                    {{ password_form.confirm_password(class="form-control form-control-lg") }}
                    {% if password_form.confirm_password.errors %}
                    <div class="alert alert-warning" role="alert">
                        {% for error in password_form.confirm_password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ password_form.submit(class="form-control form-control-lg button-submit") }}
            </div>
            <div class="row">
                <div class="col" style="font-size:14">
                    Password must be 8-20 characters long.
                </div>
            </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}>