{% extends "header.html" %}
{% block content %}
<div class="delete-confirmation" id="confirm-background">
    <div class="row justify-content-center" style="padding-left:32px;padding-right:32px" align="center" id="confirm-row">
        <div class="col-lg-4 page-item" align="center" id="confirm-box">
            <div id="confirm-text" style="font-weight:bold"></div>
            <div style="font-size:14px">This action cannot be undone.</div>
            <br>
            <div class="row">
                <div class="col-5">
                    <label class="btn btn-submit" style="margin:0px; width:100%" onclick="cancel()">Cancel</label>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <form method="POST" action="" style="margin:0px; display: none;" id="user-form">
                        {{ deleteuserform.csrf_token }}
                        <button type="button" class="form-control btn-logout" onclick="delete_user()">Delete</button>
                        {{ deleteuserform.username(value="", hidden=true, id="confirm-user") }}
                    </form>
                    <a style="display: none; text-decoration: none;" id="account-form" href="{{ url_for('users.delete') }}">
                        <input type="submit" class="form-control btn-logout" value="Delete" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-11 col-lg-8">
        <div class="row">
            <div class="col-8">
                <div style="font-size:32px; overflow:hidden; white-space:nowrap; text-overflow: 'ellipsis'">{{ current_user.username }}</div>
            </div>
            <div class="col-4">
                <div style="font-size:32px; text-align:right; overflow:hidden; white-space:nowrap; text-overflow: ellipsis">
                    {% if current_user.level == 0 %}
                    Root
                    {% elif current_user.level == 1 %}
                    Admin
                    {% elif current_user.level == 2 %}
                    Mod
                    {% elif current_user.level == 3 %}
                    User
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == "top-success" %}
        <div id="fadeout" class="alert alert-success" style="text-align:center">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div id="message_box" class="alert" style="text-align:center; display:none; visibility:hidden">
            <span id="message"></span>
        </div>
        <form action="" method="post" style="margin:0px" id="changePasswordForm">
            {{ password_form.csrf_token }}
            <div class="form-group row justify-content-center">
                <div class="col-lg">
                    {{ password_form.password.label(class="form-control-label") }}
                    {{ password_form.password(class="form-control form-control-lg") }}
                </div>
                <div class="col-lg mt-2 mt-lg-0">
                    {{ password_form.confirm_password.label(class="form-control-label") }}
                    {{ password_form.confirm_password(class="form-control form-control-lg") }}
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="form-control form-control-lg btn-submit" onclick="change_password()">Change Password</button>
            </div>
            <div class="row">
                <div class="col" style="font-size:14">
                    Password must be 8-50 characters long.
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-11 col-lg-2 order-lg-1">
        {% if current_user.level < 2  %}
        <form style="margin-bottom:0px" id="syncForm">
            {{ submitform.csrf_token }}
            <input type="submit" class="form-control btn-submit" value="Sync Drive" onclick="ajax_sync()" id="sync_button"/>
        </form>
        {% endif %}
    </div>
    {% if current_user.level > 0 %}
    <div class="col-11 col-lg-2 order-lg-3 offset-lg-2 mt-2 mt-lg-0">
        <input type="submit" class="form-control btn-logout" value="Delete" onclick="confirm_delete_account()"/>
    </div>
    {% else %}
    <div class="col-11 col-lg-2 order-lg-3 offset-lg-2"></div>
    {% endif %}
    <div class="col-11 col-lg-2 order-lg-2" id="sync_col">
        <div id="sync_message" style="text-align:center; padding: 6px 12px 6px 12px; margin:0px; width:100%; display:none"></div>
    </div>
</div>
{% if current_user.level < 3  %}
<div class="row justify-content-center">
    <div class="col-11 col-lg-8"><hr></div>
</div>
<div class="row justify-content-center">
    <div class="col-11 col-lg-8">
        <div style="font-size:32px">API Key</div>
        <div id="message_box_2" class="alert alert-warning mt-3" style="text-align:center; display:none; visibility:hidden;">
            <span id="message_2">
                <b>This is the only time the API key will be shown.</b>
            </span>
        </div>
    </div>
</div>
<div class="form-group row justify-content-center mb-0">
    <div class="col-11 col-lg-6 col-form-label mb-0" style="word-wrap:break-word" id="api_key">
        {% if current_user.api_key %}
        {{ '&#8226;'|safe * 32 }}
        {% else %}
        Key not set
        {% endif %}
    </div>
    <div class="col-11 col-lg-2 col-form-label mb-0">
        <div class="row" style="margin-right:0px; margin-left:0">
            <label class="col btn btn-submit" style="margin-bottom:0px; margin-right:8px" onclick="replace_api_key()">
                <form style="margin-bottom:0px" id="replaceApiKeyForm">
                    {{ submitform.csrf_token }}
                    <i class="bi bi-arrow-repeat"></i>
                </form>
            </label>
            <label class="col btn btn-logout" style="margin-bottom:0px; margin-left:8px" onclick="delete_api_key()">
                <form style="margin-bottom:0px" id="deleteApiKeyForm">
                    {{ submitform.csrf_token }}
                    <i class="bi bi-x-lg"></i>
                </form>
            </label>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-11 col-lg-8"><hr></div>
</div>
<div class="row justify-content-center">
    <div class="col-11 col-lg-8">
        <div style="font-size:32px">Users</div>
        <br>
        <div id="message_box_3" class="alert" style="text-align:center; display:none; visibility:hidden">
            <span id="message_3"></span>
        </div>
        <div class="page-item">
            <div class="row justify-content-center" style="margin:0px">
                <div class="col-7 col-lg-9" style="padding:0px; font-weight:bold">Username</div>
                <div class="col-4 col-lg-2" style="padding:0px; font-weight:bold">Level</div>
                <div class="col-1 col-lg-1" style="padding:0px"></div>
            </div>
            {% for user in users %}
            <div id="{{ user.username + '_row' }}">
                <hr style="margin-top:8px; margin-bottom:8px">
                <div class="form-group row justify-content-center" style="margin:0px">
                    <label class="col-7 col-lg-9 col-form-label" style="padding:0px; display:flex; align-items:center;">
                        {{ user.username }}
                    </label>
                    <label class="col-4 col-lg-2 col-form-label" style="padding:0px; display:flex; align-items:center;">
                        <form method="POST" action="" style="margin:0px; width:100%" id="{{ user.username + '_level' }}">
                            {{ changeuserlevelform.csrf_token }}
                            {{ changeuserlevelform.username(value=user.username, hidden=true) }}
                            {% if current_user.level >= user.level %}
                            <select class="form-control form-control-sm" id="level" name="level" style="width:85%" disabled>
                                <option value={{ user.level }} selected>{{ levels[user.level] }}</option>
                            </select>
                            {% else %}
                            <select class="form-control form-control-sm" id="{{ user.username + '_level' }}" name="level" style="width:85%" onchange="change_level('{{ user.username }}')">
                                {% for level,text in levels.items() %}
                                {% if current_user.level < level %}
                                <option value={{ level }} {{ "selected" if level == user.level else "" }}>{{ text }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            {% endif %}
                        </form>
                    </label>
                    {% if current_user.level < user.level %}
                    <label class="col-1 col-lg-1" style="margin:0px; padding:0px; display:flex; align-items:center; direction:rtl;" onclick="confirm_delete('{{ user.username }}')">
                        <i class="bi bi-trash" style="color:red; cursor:pointer"></i>
                    </label>
                    {% else %}
                    <label class="col-1" style="padding:0px"></label>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='/scripts/account.js', _scheme='https') }}"></script>
{% endblock %}