<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Hibike! Euphonium Archive">
    <meta property="theme-color" content="#00acc6">
    {% if metadata and metadata.title %}
    <meta property="og:title" content="{{ metadata.title }}">
    {% else %}
    <meta property="og:title" content="Hibike! Euphonium Archive">
    {% endif %}
    {% if metadata and metadata.url %}
    <meta property="og:url" content="{{ metadata.url }}">
    {% else %}
    <meta property="og:url" content="https://hibike-euphonium-archive.herokuapp.com">
    {% endif %}
    {% if metadata and (metadata.description or metadata.description == "") %}
    <meta property="og:description" content="{{ metadata.description }}">
    {% else %}
    <meta property="og:description" content="A website interface for the Hibike! Euphonium Archive project.">
    {% endif %}
    {% if metadata and metadata.image %}
    <meta property="og:image" content="{{ metadata.image }}">
    <meta property="twitter:card" content="summary_large_image">
    {% else %}
    <meta property="og:image" content="https://hibike-euphonium-archive.herokuapp.com/static/images/lizicon.png">
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="shortcut icon" type="image/png" href="/static/images/lizicon.png"/>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Hibike! Euphonium Archive</title>
    {% endif %}
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-189053212-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-189053212-1');
    </script>
    <!-- End Google Analytics -->
</head>
<body id="main-wrapper">
    {% block header %}
    {% endblock %}
    <script>
        // part of search suggestions
        var autocomplete_list_name = "autocomplete-list-search";
        var autocomplete_items_name = "autocomplete-items-search";
        var autocomplete_active_name = "autocomplete-active-search";
        // end search suggestions
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='/scripts/autocomplete.js') }}"></script>
    <script>
        // part of search suggestions
        // extract server response used as part of search suggestions in base.js
        var search_tags = JSON.parse(`{{ searchtags|tojson }}`);

        autocomplete(document.getElementById("searchInput"), search_tags, document.getElementById("searchForm"));
        // end search suggestions

        // submits search form
        function submit_search_form() {
            if (document.getElementById("searchInput").value.trim()) {
                document.getElementById("searchForm").submit();
            }
        }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='/scripts/base.js') }}"></script>
</body>
</html>