<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="shortcut icon" type="image/png" href="/static/images/lizicon.png"/>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Hibike! Euphonium Archive</title>
    {% endif %}
</head>
<body id="main-wrapper">
    {% block header %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script>
        setTimeout(function() {
            $('[id=fadeout]').fadeOut(500,function() {
                $('[id=fadeout]').css({"visibility":"hidden",display:'block'}).slideUp();
            });
        }, 5000);

        document.addEventListener('invalid', (function () {
            return function (e) {
                e.preventDefault();
                
            };
        })(), true);
    </script>
</body>
</html>