{% extends "header.html" %}
{% block content %}
<div class="delete-confirmation" id="confirm-background">
    <div class="row justify-content-center" style="padding-left:32px;padding-right:32px" align="center" id="confirm-row">
        <div class="col-lg-4 page-item" align="center" id="confirm-box">
            <div id="confirm-text" style="font-weight:bold"></div>
            <br>
            <div class="row">
                <div class="col-5">
                    <label class="btn btn-logout" style="margin:0px; width:100%" onclick="cancel()">Cancel</label>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <label class="btn btn-submit" style="margin:0px; width:100%" onclick="submit_add_tag_form(true)">Add</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    {% if folder %}
    <div class="col-11 col-lg-3 order-lg-2">
        <div style="font-weight:bold; font-size:20px; word-wrap:break-word">
            {{ folder.name }}
        </div>
        <div style="font-size:20px; word-wrap:break-word">
            {% if num_results == 1 %}
            ({{ num_results }} image)
            {% else %}
            ({{ num_results }} images)
            {% endif %}
        </div>
        <br>
        <div class="page-item" style="word-wrap: break-word; font-size:14px">
            {% if parent %}
            <div style="font-weight:bold">Parent folder</div>
            <div>
                <a href="{{ url_for('results.folder', folder_id=parent.folder_id) }}" class="tag-link">{{ parent.name }}</a>
            </div>
            {% else %}
            <div>Root folder.</div>
            {% endif %}
            <hr>
            {% if children|length == 0 %}
            <div>No subfolders.</div>
            {% else %}
            <div style="font-weight:bold">Subfolders</div>
            {% for child in children %}
            <div>
                <a href="{{ url_for('results.folder', folder_id=child.folder_id) }}" class="tag-link">{{ child.name }}</a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <br>
        {% if current_user.is_authenticated %}
        <div class="page-item" style="word-wrap: break-word; font-size:14px">
            <div>
                <form method="POST" action="" style="margin:0px; width:100%; max-height:100%" class="autocomplete" id="addTagForm">
                    {{ addtagform.csrf_token }}
                    {{ addtagform.category(hidden="true", value="") }}
                    {{ addtagform.tag(class="addtag-small", autocomplete="off", id="myInput", placeholder="Add tag to all files") }}
                    {{ addtagform.file_id(hidden="true", value=folder.folder_id) }}
                </form>
            </div>
            <br>
            <div>
                <form method="POST" action="" style="margin:0px; width:100%; max-height:100%" class="autocomplete" id="deleteTagForm">
                    {{ deletetagform.csrf_token }}
                    {{ deletetagform.tag(class="addtag-small", autocomplete="off", id="deleteInput", placeholder="Delete tag from all files") }}
                    {{ deletetagform.file_id(hidden="true", value=folder.folder_id) }}
                </form>
            </div>
        </div>
        <div id="tag_box" class="mt-4" style="display:none; visibility:hidden">
            <div id="tag_message" style="text-align:center; padding: 6px 12px 6px 12px; margin:0px; width:100%"></div>
        </div>
        <br>
        {% endif %}
        <div class="page-item" style="font-size:14px">
            {% if current_user.is_authenticated %}
            <div><b>Notes:</b></div>
            <form method="POST" action="" style="margin:0px; width:100%" class="autocomplete" id="updateDescriptionForm">
                {{ updatedescriptionform.csrf_token }}
                {{ updatedescriptionform.description(class="form-control my-3", style="resize:none; font-size:14px", id="descriptionbox") }}
                {{ updatedescriptionform.file_id(hidden="true", value=folder.folder_id) }}
                <button type="button" class="btn btn-submit float-right" onclick="submit_update_description_form()">Save</button>
            </form>
            {% else %}
            {% if folder.description %}
            <div><b>Notes:</b></div>
            <pre>{{ folder.description }}</pre>
            {% else %}
            <div>No notes.</div>
            {% endif %}
            {% endif %}
        </div>
        <div id="description_box" class="mt-4" style="display:none; visibility:hidden">
            <div id="description_message" style="text-align:center; padding: 6px 12px 6px 12px; margin:0px; width:100%"></div>
        </div>
    </div>
    <div class="col-11 col-lg-9 order-lg-1 mt-4 mt-lg-0">
        {% if results|length == 0 %}
        <div align="center">No images.</div>
        {% else %}
        <div class="page-item">
            {% for row in results %}
            <div class="row" style="display:flex; align-items: center;">
                {% for item in row %}
                <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center" style="height:235px; display:flex; align-items: center;">
                    <a href="{{ url_for('results.file', file_id=item.file_id) }}" target="_blank">
                        <img src="{{ 'https://drive.google.com/thumbnail?id=' + item.file_id }}" style="max-width:100%; max-height:100%">
                    </a>
                    {% if current_user.is_authenticated %}
                    <form style="color:gold; position:absolute; top:5%; left:5%; margin-bottom:0px; font-size:20px;" id="{{ 'starForm_' + item.file_id}}" onclick="star('{{ item.file_id }}')">
                        {{ submitform.csrf_token }}
                        <i class="bi {{ 'bi-star-fill' if item.file_id in current_user.favorites|map(attribute='file_id') else 'bi-star' }}" id="{{ 'star_' + item.file_id}}"></i>
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div id="scroller">
                <template id="new_row">
                    <div class="row" style="display:flex; align-items: center;" id="row"></div>
                </template>
            </div>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="col" align="center">Folder does not exist.</div>
    {% endif %}
</div>
<div class="d-flex justify-content-center row" id="sentinel">
    <div class="col-9" align="center">
        <div class="spinner-border" style="animation:spinner-border 1s linear infinite; color:rgb(0, 172, 198); margin-top:16px" role="status"></div>
    </div>
    <div class="col-3"></div>
</div>
{% if current_user.is_authenticated %}
<script>
    // part of tag suggestions
    var autocomplete_list_name = "autocomplete-list";
    var autocomplete_items_name = "autocomplete-items";
    var autocomplete_active_name = "autocomplete-active";
    // end tag suggestions
</script>
<script type="text/javascript" src="{{ url_for('static', filename='/scripts/autocomplete.js') }}"></script>
<script>
    // part of tag suggestions
    // extract server response
    var add_tags = JSON.parse(`{{ add_tags|tojson }}`)
    var delete_tags = JSON.parse(`{{ delete_tags|tojson }}`)

    autocomplete(document.getElementById("myInput"), add_tags, document.getElementById("addTagForm"));
    autocomplete(document.getElementById("deleteInput"), delete_tags, document.getElementById("deleteTagForm"));
    // end tag suggestions

    var user_level = `{{ current_user.level }}`;
</script>
<script type="text/javascript" src="{{ url_for('static', filename='/scripts/resize_description.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/scripts/folder.js') }}"></script>
{% endif %}
<script>
    // part of dynamic loader
    // extract server response
    var remaining_results = JSON.parse(`{{ remaining_results|tojson }}`);
    // end dynamic loader

    // gets id list of favorite images
    var user_authenticated = {{ current_user.is_authenticated|tojson }}

    {% if current_user.is_authenticated %}
    var starform_csrf_token_field = `{{ submitform.csrf_token }}`;
    var favorites_json = JSON.parse(`{{ current_user.favorites|tojson }}`);
    var favorites = []
    favorites_json.forEach(x => favorites.push(x.file_id));
    {% endif %}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='/scripts/image_loader.js') }}"></script>
{% endblock %}