{% extends "base.html" %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(0, 172, 198)">
    <a class="navbar-brand" href="{{ url_for('results.index') }}">Hibike! Euphonium Archive</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            {% if searchform %}
            <li class="nav-item">
                <a class="nav-link nav-link-custom" href="{{ url_for('results.search_results', query='all') }}">
                    All Images
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-custom" href="{{ url_for('results.folder', folder_id='root') }}">
                    Root Folder
                </a>
            </li>
            <li class="nav-item" style="padding-right:8px">
                <a class="nav-link nav-link-custom" href="{{ url_for('results.tags') }}">
                    Tags
                </a>
            </li>
            <li class="nav-item">
                <form action="/" class="form-inline autocomplete-search" style="margin:0px; display:inline-block" method="POST" id="searchForm">
                    {{ searchform.csrf_token }}
                    {{ searchform.search_query(class="form-control", id="searchInput", placeholder="Search", autocomplete="off") }}
                </form>
            </li>
            <li class="nav-item" style="padding-left:8px">
                <a class="nav-link nav-link-custom" href="{{ url_for('users.login') }}">
                    {% if current_user.is_authenticated %}
                    Account
                    {% else %}
                    Login
                    {% endif %}
                </a>
            </li>   
            {% endif %} 
        </ul>
    </div>  
</nav>
<br>
<div class="container">
    {% block content %}{% endblock %}
</div>
<footer class="footer">
    <div class="d-flex justify-content-center" style="width:100%; font-size:14px; color:rgba(255,255,255,.5);">
        <a href="{{ url_for('results.about') }}" class="footer-link">
            About
        </a>
        &nbsp;|&nbsp;
        <a href="https://github.com/camelfantasy/hibike-euphonium-archive" class="footer-link" target="_blank">
            GitHub
        </a>
        &nbsp;|&nbsp;
        <a href="https://drive.google.com/drive/u/2/folders/1lqyNmKZy0LmnjOSv9jr8Um13MjZDhTh_" class="footer-link" target="_blank">
            Google Drive
        </a>
    </div>
</footer>
{% endblock %}