{% extends "header.html" %}
{% block content %}
<div class="row">
    {% if image %}
    <div class="col-9">
        <div class="page-item" align="center">
            <a href="{{ 'https://drive.google.com/uc?id=' + image.file_id }}">
                <img src="{{ 'https://drive.google.com/uc?id=' + image.file_id }}" style="max-width:100%; max-height:100%">
            </a>
        </div>
    </div>
    <div class="col-3">
        {% if image %}
        <div style="font-weight:bold; font-size:20px; word-wrap:break-word">
            {{ image.name }}
        </div>
        <br>
        <div class="page-item" style="word-wrap: break-word; font-size:14px">
            <div>
                {% if folder %}
                <b>Folder:</b>
                <br>
                <a href="{{ url_for('results.folder', folder_id=folder.folder_id) }}" class="tag-link">{{ folder.name }}</a>
                {% else %}
                No folder
                {% endif %}
            </div>
            <br>
            <div>
                {% if image.tags %}
                <b>Tags:</b>
                <br>
                {% for tag in image.tags %}
                <div class="form-group row" style="margin:0px">
                    <label class="col-sm-11 col-form-label" style="padding:0px">
                        <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link">{{ tag.tag }}</a>
                    </label>
                    <label class="col-sm-1" style="margin:0px; padding:0px; display:flex; align-items:center; direction:rtl;">
                        {% if current_user.is_authenticated %}
                        <form method="POST" action="" style="margin:0px">
                            {{ deletetagform.submit(hidden=true) }}
                            {{ deletetagform.csrf_token }}
                            {{ deletetagform.tag(value=tag.tag, hidden=true) }}
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </form>
                        {% endif %}
                    </label>
                </div>
                {% endfor %}
                {% else %}
                No tags
                {% endif %}
            </div>
            {% if current_user.is_authenticated %}
            <div>
                <form method="POST" action="" style="margin:0px">
                    {{ addtagform.csrf_token }}
                    {{ addtagform.category(hidden="true", value="") }}
                    {{ addtagform.tag(class="addtag-small", autocomplete="off", placeholder="Add tag") }}
                    {{ addtagform.submit(hidden="true") }}
                </form>
            </div>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == "success" %}
        <div id="fadeout" class="alert alert-success" style="text-align:center; margin-bottom:0px; margin-top:16px">
            {{ message }}
        </div>
        {% elif category == "warning" %}
        <div id="fadeout" class="alert alert-warning" style="text-align:center; margin-bottom:0px; margin-top:16px">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% endif %}
    </div>
    {% else %}
    <div class="col" align="center">Image does not exist.</div>
    {% endif %}
</div>
{% endblock %}