{% extends "header.html" %}
{% block content %}
<div class="delete-confirmation" id="confirm-background">
    <div class="row justify-content-center" style="padding-left:32px;padding-right:32px" align="center" id="confirm-row">
        <div class="col-lg-4 page-item" align="center" id="confirm-box">
            <div id="confirm-text" style="font-weight:bold"></div>
            <br>
            <div class="row">
                <div class="col-5">
                    <label class="btn btn-logout" style="margin:0px; width:100%" onclick="cancel()">Cancel</label>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <label class="btn btn-submit" style="margin:0px; width:100%" onclick="submit_add_tag_form(true)">Add</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    {% if image %}
    <div class="col-11 col-lg-9">
        <div class="page-item" align="center">
            <a href="{{ 'https://drive.google.com/uc?id=' + image.file_id }}">
                <img src="https://drive.google.com/thumbnail?id={{ image.file_id }}&sz=w1200" style="max-width:100%; max-height:100%">
            </a>
        </div>
        <div style="margin-top:8px">
            <a href="{{ 'https://docs.google.com/uc?export=download&id=' + image.file_id }}" class="tag-link-gray" style="font-size:14px" download>Download original</a>
        </div>
    </div>
    <div class="col-11 col-lg-3 mt-4 mt-lg-0">
        {% if current_user.is_authenticated %}
        <div class="row">
            <div class="col-9" style="font-weight:bold; font-size:20px; word-wrap:break-word">
                {{ image.name }}
            </div>
            <form class="col-3" style="font-size:20px; display:flex; direction:rtl; margin-bottom:0px; color:gold" id="starForm" onclick="star('{{ image.file_id }}')">
                {{ submitform.csrf_token }}
                {% if starred %}
                <i class="bi bi-star-fill" style="padding-top:4px" id="star"></i>
                {% else %}
                <i class="bi bi-star" style="padding-top:4px" id="star"></i>
                {% endif %}
            </form>
        </div>
        {% else %}
        <div style="font-weight:bold; font-size:20px; word-wrap:break-word">
            {{ image.name }}
        </div>
        {% endif %}
        <br>
        <div class="page-item" style="word-wrap: break-word; font-size:14px">
            <div>
                {% if folder %}
                <b>Folder:</b>
                <br>
                <a href="{{ url_for('results.folder', folder_id=folder.folder_id) }}" class="tag-link">{{ folder.name }}</a>
                {% else %}
                <div>>No folder.</div>
                {% endif %}
            </div>
            <hr>
            <div id="taglist">
                {% if image.tags %}
                <div id="tag-label"><b>Tags ({{ image.tags|length }}):</b></div>
                {% for tag in image.tags %}
                <div class="form-group row" style="margin:0px" id="{{ 'tag_' + tag.tag | replace(' ', '_') }}">
                    <label class="col-11 col-form-label" style="padding:0px">
                        <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link">{{ tag.tag }}</a>
                    </label>
                    <label class="col-1" style="margin:0px; padding:0px; display:flex; align-items:center; direction:rtl;">
                        {% if current_user.is_authenticated %}
                        <form method="POST" action="" style="margin:0px" id="{{ 'deleteTagForm_' + tag.tag | replace(' ', '_') }}">
                            {{ deletetagform.csrf_token }}
                            {{ deletetagform.tag(value=tag.tag, hidden=true) }}
                            {{ deletetagform.file_id(hidden="true", value=image.file_id) }}
                            <i class="bi bi-trash" style="color:red; cursor:pointer" onclick="submit_delete_tag_form('{{ tag.tag | replace(' ', '_') }}')"></i>
                        </form>
                        {% endif %}
                    </label>
                </div>
                {% endfor %}
                {% else %}
                <div id="tag-label">No tags.</div>
                {% endif %}
            </div>
            {% if current_user.is_authenticated %}
            <div>
                <form method="POST" action="" style="margin:0px; width:100%" class="autocomplete" id="addTagForm">
                    {{ addtagform.csrf_token }}
                    {{ addtagform.category(hidden="true", value="") }}
                    {{ addtagform.tag(class="addtag-small", autocomplete="off", placeholder="Add tag", id="myInput") }}
                    {{ addtagform.file_id(hidden="true", value=image.file_id) }}
                </form>
            </div>
            {% endif %}
        </div>
        <div id="tag_box" class="mt-4" style="display:none; visibility:hidden">
            <div id="tag_message" style="text-align:center; padding: 6px 12px 6px 12px; margin:0px; width:100%"></div>
        </div>
        <br>
        <div class="page-item" style="font-size:14px">
            {% if current_user.is_authenticated %}
            <div><b>Notes:</b></div>
            <form method="POST" action="" style="margin:0px; width:100%" class="autocomplete" id="updateDescriptionForm">
                {{ updatedescriptionform.csrf_token }}
                {{ updatedescriptionform.description(class="form-control my-3", style="resize:none; font-size:14px", id="descriptionbox") }}
                {{ updatedescriptionform.file_id(hidden="true", value=image.file_id) }}
                <button type="button" class="btn btn-submit float-right" onclick="submit_update_description_form()">Save</button>
            </form>
            {% else %}
            {% if image.description %}
            <div><b>Notes:</b></div>
            <pre>{{ image.description }}</pre>
            {% else %}
            <div>No notes.</div>
            {% endif %}
            {% endif %}
        </div>
        <div id="description_box" class="mt-4" style="display:none; visibility:hidden">
            <div id="description_message" style="text-align:center; padding: 6px 12px 6px 12px; margin:0px; width:100%"></div>
        </div>
        <div style="padding-top:12px">
            {% if prev %}
            <a href="{{ url_for('results.file', file_id=prev) }}" class="tag-link-gray">« Previous</a>
            {% endif %}
            {% if next %}
            <a href="{{ url_for('results.file', file_id=next) }}" class="tag-link-gray" style="float:right">Next »</a>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="col" align="center">Image does not exist.</div>
    {% endif %}
</div>
{% if current_user.is_authenticated %}
<script>
    // part of tag suggestions
    var autocomplete_list_name = "autocomplete-list";
    var autocomplete_items_name = "autocomplete-items";
    var autocomplete_active_name = "autocomplete-active";
    // end tag suggestions
</script>
<script type="text/javascript" src="{{ url_for('static', filename='/scripts/autocomplete.js', _scheme='https') }}"></script>
<script>
    // part of tag suggestions
    // extract server response
    var tags = JSON.parse(`{{ tags|tojson }}`);

    autocomplete(document.getElementById("myInput"), tags, document.getElementById("addTagForm"));
    // end tag suggestions

    // part of ajax functions
    var deletetagform_file_id_field = `{{ deletetagform.file_id(hidden='true', value=image.file_id) }}`;
    var deletetagform_csrf_token_field = `{{ deletetagform.csrf_token }}`;
    var user_level = `{{ current_user.level }}`;
    // end ajax functions
</script>
<script type="text/javascript" src="{{ url_for('static', filename='/scripts/resize_description.js', _scheme='https') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/scripts/image.js', _scheme='https') }}"></script>
{% endif %}
{% endblock %}