{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div style="font-weight:bold; font-size:20px" align="center">
            About
        </div>
        <br>
        <div class="page-item">
            <div>
                The Hibike! Euphonium Archive project was created by members of
                the Liz and the Blue Bird discord server, with the goal of creating
                a comprehensive archive of all physical and digital visual
                content that have been created for the Hibike! franchise.  All
                files are hosted on Google Drive; this website is simply for search purposes.
                <br>
                <br>
                All content belong to their respective owners.
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}