{% extends "header.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="alert alert-warning">
            <p style="text-align:center; font-size:20px">Notice:</p>
            <p>
                This site is currently in beta.
                As such, there will be frequent updates to the site code, and many images (~80%) have not been properly tagged yet.
                The site developer (camelfantasy) is currently the sole person doing both tasks, so it may be several weeks before the first full release.
            </p>
            Thank you for your understanding.
        </div>
        <div style="font-weight:bold; font-size:20px" align="center">
            Hibike! Euphonium Archive project
        </div>
        <br>
        <div class="page-item">
            <div>
                Welcome to the website interface of the Hibike! Euphonium Archive project.
                Read the information below to get started.
            </div>
            <hr>
            <div style="text-align:center; font-size:18px">
                <b>Quick start</b>
            </div>
            <br>
            <div>
                Use the search bar or click on a tag to find all images containing your query.
                To see all images, click on the All Images tab.
            </div>
            <br>
            <div>
                All tags can be found in the Tags tab, and are also listed on each image's page.
                Untagged images can be found <a href="{{ url_for('results.search_results', query='untagged') }}" class="reverse-link">here</a>.
            </div>
            <br>
            <div>
                The folder structure can be navigated from each image and folder page,
                with the Root Folder tab linked to the topmost folder.
            </div>
            <hr>
            <div style="text-align:center; font-size:18px">
                <b>Permissions</b>
            </div>
            <br>
            <div>
                All users with accounts have permission to add or remove existing tags from individual images,
                as well as all images in a folder at once (will not affect subfolders).
            </div>
            <br>
            <div>
                Administrators additionally have the ability to add or remove tags, create or delete user accounts,
                and sync data from Google Drive to the local database.
                Tags' categories can be changed by adding a tag as usual but selecting a different category.
                Database access is currently required for directly renaming tags.
            </div>
            <br>
            <div>
                The Root user is the sole person able to add or remove administrator accounts.
            </div>
            <hr>
            <div style="text-align:center; font-size:18px">
                <b>List of users and admins</b>
            </div>
            <br>
            <div class="row" align="center">
                <div class="col-6">
                    <div><b>Users</b></div>
                    {% for user in users %}
                    <div>{{ user.username }}</div>
                    {% endfor %}
                </div>
                <div class="col-6">
                    <div><b>Admins</b></div>
                    {% for admin in admins %}
                    <div>{{ admin.username }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}