{% extends "header.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div style="font-size:32px">
            Login
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="fadeout" class="alert alert-warning" style="text-align:center">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% if form.username.errors %}
        <div id="fadeout" class="alert alert-warning" style="text-align:center">
            {% for error in form.username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% if form.password.errors %}
        <div id="fadeout" class="alert alert-warning" style="text-align:center">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <form action="" method="post">
            {{ form.csrf_token }}
            <div class="form-group row justify-content-center">
                <div class="col-lg">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg", autocomplete="off") }}
                </div>
                <div class="col-lg offset-lg-2 mt-2 mt-lg-0">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control form-control-lg") }}
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="form-control form-control-lg btn-submit") }}
            </div>
        </form>
        <div style="font-size:14px">
            Account creation is restricted to the site owner and administrators.
        </div>
    </div>
</div>
{% endblock %}