{% extends "header.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-11 col-lg-8">
        <div style="font-size:32px">
            Register
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="fadeout" class="alert alert-warning" style="text-align:center">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% if form.username.errors %}
        <div id="fadeout" class="alert alert-warning" style="text-align:center">
            {% for error in form.username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% if form.password.errors %}
        <div id="fadeout" class="alert alert-warning" style="text-align:center">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% if form.confirm_password.errors %}
        <div id="fadeout" class="alert alert-warning" style="text-align:center">
            {% for error in form.confirm_password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <form action="" method="post">
            {{ form.csrf_token }}
            <div class="form-group row justify-content-center align-items-end">
                <div class="col-lg-8">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg", autocomplete="off") }}
                </div>
                <div class="col-lg-4 mt-2 mt-lg-0" style="font-size:14px; color:gray">
                    Username must be 4-20 characters.
                </div>
            </div>
            <div class="form-group row justify-content-center align-items-end">
                <div class="col-lg-8">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control form-control-lg", autocomplete="off") }}
                </div>
                <div class="col-lg-4 mt-2 mt-lg-0" style="font-size:14px; color:gray">
                    Password must be 8-50 characters.
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-lg-8">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {{ form.confirm_password(class="form-control form-control-lg", autocomplete="off") }}
                </div>
                <div class="col-lg-4 mt-2 mt-lg-0"></div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-lg-8">
                    {{ form.submit_btn(class="form-control form-control-lg btn-submit") }}
                </div>
                <div class="col-lg-4 mt-2 mt-lg-0"></div>
            </div>
        </form>
        <div style="font-size:14px">
            Log in
            <a href="{{ url_for('users.login') }}" class="reverse-link">here</a>
            if you already have an account.
        </div>
    </div>
</div>
{% endblock %}