{% extends "header.html" %}
{% block content %}
{% if current_user.is_authenticated and current_user.level < 2 %}
<div class="delete-confirmation" id="confirm-background">
    <div class="row justify-content-center" style="padding-left:32px;padding-right:32px" align="center" id="confirm-row">
        <div class="col-lg-4 page-item" align="center" id="confirm-box">
            <div id="confirm-text" style="font-weight:bold"></div>
            <div style="font-size:14px">This tag will be deleted from all images and cannot be undone.</div>
            <br>
            <div class="row">
                <div class="col-5">
                    <label class="btn btn-submit" style="margin:0px; width:100%" onclick="cancel()">Cancel</label>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <form method="POST" action="" style="margin:0px;" id="user-form">
                        {{ deletetagform.csrf_token }}
                        <button type="button" class="form-control btn-logout" onclick="delete_tag()">Delete</button>
                        {{ deletetagform.tag(value="", hidden=true, id="confirm-tag") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="row justify-content-center">
    <div class="col-11 col-lg-12" align="center">
        {% if current_user.is_authenticated and current_user.level < 2 %}
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div id="message_box" class="alert" style="text-align:center; display:none; visibility:hidden">
                    <span id="message"></span>
                </div>
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist" style="border:none">
                    <li class="nav-item">
                        <a class="nav-link reverse-link active" id="add-tab" data-toggle="tab" href="#add" role="tab" style="border:none">
                            <i class="bi bi-plus-lg"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link reverse-link" id="modify-tab" data-toggle="tab" href="#modify" role="tab" style="border:none">
                            <i class="bi bi-pen"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link reverse-link" id="delete-tab" data-toggle="tab" href="#delete" role="tab" style="border:none">
                            <i class="bi bi-x-lg"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content page-item" id="myTabContent" style="padding:0px">
                    <div class="tab-pane fade show active" id="add" role="tabpanel">
                        <form method="POST" action="" style="margin:0px" class="page-item" id="addTagForm" onkeydown="return event.key != 'Enter';">
                            {{ addtagform.csrf_token }}
                            <div class="form-group row">
                                {{ addtagform.tag.label(class="col-lg-4 col-form-label", style="text-align:left") }}
                                <div class="col-lg-8">
                                    {{ addtagform.tag(class="form-control", autocomplete="off", id="addTagField") }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ addtagform.category.label(class="col-lg-4 col-form-label", style="text-align:left") }}
                                <div class="col-lg-8">
                                    {{ addtagform.category(class="form-control", id="addCategoryField") }}
                                </div>
                            </div>
                            <div class="form-group row" style="margin:0px">
                                <div class="col-lg">
                                    <label class="btn btn-submit" style="margin-bottom:0px;" onclick="add_tag()">
                                        Add
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="modify" role="tabpanel">
                        <form method="POST" action="" style="margin:0px" class="page-item" id="modifyTagForm" onkeydown="return event.key != 'Enter';">
                            {{ modifytagform.csrf_token }}
                            <div class="form-group row">
                                {{ modifytagform.tag.label(class="col-lg-4 col-form-label", style="text-align:left") }}
                                <div class="col-lg-8">
                                    <select class="form-control" id="modifyTagField" name="tag" onchange="fix_category()">
                                        {% for tag in tags_dict.keys() %}
                                        <option value="{{ tag }}">{{ tag }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ modifytagform.newtag.label(class="col-lg-4 col-form-label", style="text-align:left") }}
                                <div class="col-lg-8">
                                    {{ modifytagform.newtag(class="form-control", autocomplete="off", id="modifyNewTagField") }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ modifytagform.category.label(class="col-lg-4 col-form-label", style="text-align:left") }}
                                <div class="col-lg-8">
                                    {{ modifytagform.category(class="form-control", id="modifyCategoryField") }}
                                </div>
                            </div>
                            <div class="form-group row" style="margin:0px">
                                <div class="col-lg">
                                    <label class="btn btn-submit" style="margin-bottom:0px;" onclick="modify_tag()">
                                        Modify
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="delete" role="tabpanel">
                        <form method="POST" action="" style="margin:0px" class="page-item" id="deleteTagForm" onkeydown="return event.key != 'Enter';">
                            {{ deletetagform.csrf_token }}
                            <div class="form-group row">
                                {{ deletetagform.tag.label(class="col-lg-4 col-form-label", style="text-align:left") }}
                                <div class="col-lg-8">
                                    <select class="form-control" id="deleteTagField" name="tag">
                                        {% for tag in tags_dict.keys() %}
                                        <option value="{{ tag }}">{{ tag }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" style="margin:0px">
                                <div class="col-lg">
                                    <label class="btn btn-logout" style="margin-bottom:0px;" onclick="confirm_delete()">
                                        Delete
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endif %}
        <div style="font-weight:bold; font-size:20px; word-wrap:break-word">
            All tags
        </div>
        <br>
        <div class="page-item">
            <div class="row">
                <div class="col-lg-9 col-md" style="font-weight:bold; font-size:18px">Characters</div>
                <div class="col-lg-3 media-header-1" style="font-weight:bold; font-size:18px">Media</div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12" align="center" id="characters1Col">
                    {% for tag in characters1 %}
                    <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link">
                        <div style="overflow:hidden; white-space:nowrap; text-overflow: ellipsis">{{ tag.tag }}</div>
                    </a>
                    {% endfor %}
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" align="center" id="characters2Col">
                    {% for tag in characters2 %}
                    <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link">
                        <div style="overflow:hidden; white-space:nowrap; text-overflow: ellipsis">{{ tag.tag }}</div>
                    </a>
                    {% endfor %}
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 character3-col" align="center" id="characters3Col">
                    {% for tag in characters3 %}
                    <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link">
                        <div style="overflow:hidden; white-space:nowrap; text-overflow: ellipsis">{{ tag.tag }}</div>
                    </a>
                    {% endfor %}
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" align="center">
                    <div class="mt-2 mt-lg-0 media-header-2" style="font-weight:bold; font-size:18px">Media</div>
                    <div id="mediaCol">
                        {% for tag in media %}
                        <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link">
                            <div style="overflow:hidden; white-space:nowrap; text-overflow: ellipsis">{{ tag.tag }}</div>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="mt-2" style="font-weight:bold; font-size:18px">Other</div>
                    <div id="otherCol">
                        {% for tag in other %}
                        <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link">
                            <div style="overflow:hidden; white-space:nowrap; text-overflow: ellipsis">{{ tag.tag }}</div>
                        </a>
                        {% endfor %}
                    </div>
                    {% if unsorted|length != 0 %}
                    <div class="mt-2" style="font-weight:bold; font-size:18px">Unsorted</div>
                    <div id="unsortedCol">
                        {% for tag in unsorted %}
                        <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link">
                            <div style="overflow:hidden; white-space:nowrap; text-overflow: ellipsis">{{ tag.tag }}</div>
                        </a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% if current_user.is_authenticated and current_user.level < 2 %}
<script>
    tags_dict = JSON.parse(`{{ tags_dict|tojson }}`);
</script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/tags.js', _scheme='https', _external=True) }}"></script>
{% endif %}
{% endblock %}