{% extends "header.html" %}
{% block content %}
{% if current_user.is_authenticated and current_user.level < 2 %}
<div class="delete-confirmation" id="confirm-background">
    <div class="row justify-content-center" style="padding-left:32px;padding-right:32px" align="center" id="confirm-row">
        <div class="col-lg-4 page-item" align="center" id="confirm-box">
            <div id="confirm-text" style="font-weight:bold"></div>
            <div style="font-size:14px">This tag will be deleted from all images and cannot be undone.</div>
            <br>
            <div class="row">
                <div class="col-5">
                    <label class="btn btn-submit" style="margin:0px; width:100%" onclick="cancel()">Cancel</label>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <form method="POST" action="" style="margin:0px">
                        {{ deletetagform.submit_btn(class="btn btn-logout", style="margin:0px; width:100%") }}
                        {{ deletetagform.csrf_token }}
                        {{ deletetagform.tag(value="", hidden=true, id="confirm-tag") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="row justify-content-center">
    <div class="col-11 col-lg-12" align="center">
        {% if current_user.is_authenticated and current_user.level < 2 %}
        <div class="row justify-content-center">
            <div class="col-md-4">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                {% if category == "narrow-warning" %}
                <div id="fadeout" class="alert alert-warning" style="text-align:center">
                    {{ message }}
                </div>
                {% elif category == "narrow-success" %}
                <div id="fadeout" class="alert alert-success" style="text-align:center">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
                <form method="POST" action="" style="margin:0px" class="page-item">
                    {{ addtagform.csrf_token }}
                    <div class="form-group row">
                        {{ addtagform.tag.label(class="col-lg-4 col-form-label", style="text-align:left") }}
                        <div class="col-lg-8">
                            {{ addtagform.tag(class="form-control", autocomplete="off") }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ addtagform.category.label(class="col-lg-4 col-form-label", style="text-align:left") }}
                        <div class="col-lg-8">
                            {{ addtagform.category(class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group row" style="margin:0px">
                        <div class="col-lg">
                            {{ addtagform.submit_btn(class="btn btn-submit") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        {% endif %}
        <div style="font-weight:bold; font-size:20px; word-wrap:break-word">
            All tags
        </div>
        <br>
        <div class="page-item">
            <div class="row">
                <div class="col-lg-9 col-md" style="font-weight:bold; font-size:18px">Characters</div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12" align="center">
                    {% for tag in characters1 %}
                    {% if current_user.is_authenticated and current_user.level < 2 %}
                    <div class="form-group row justify-content-center" style="margin:0px">
                        <label class="col-8 offset-2 col-form-label" style="padding:0px">
                            <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                        </label>
                        <label class="col-2" style="margin:0px; padding:0px; display:flex; align-items: center;" onclick="confirm_delete('{{ tag.tag }}')">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </label>
                    </div>
                    {% else %}
                    <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                    <br>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" align="center">
                    {% for tag in characters2 %}
                    {% if current_user.is_authenticated and current_user.level < 2 %}
                    <div class="form-group row justify-content-center" style="margin:0px">
                        <label class="col-8 offset-2 col-form-label" style="padding:0px">
                            <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                        </label>
                        <label class="col-2" style="margin:0px; padding:0px; display:flex; align-items: center;" onclick="confirm_delete('{{ tag.tag }}')">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </label>
                    </div>
                    {% else %}
                    <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                    <br>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 character3-col" align="center">
                    {% for tag in characters3 %}
                    {% if current_user.is_authenticated and current_user.level < 2 %}
                    <div class="form-group row justify-content-center" style="margin:0px">
                        <label class="col-8 offset-2 col-form-label" style="padding:0px">
                            <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                        </label>
                        <label class="col-2" style="margin:0px; padding:0px; display:flex; align-items: center;" onclick="confirm_delete('{{ tag.tag }}')">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </label>
                    </div>
                    {% else %}
                    <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                    <br>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" align="center">
                    <div class="mt-2 mt-lg-0" style="font-weight:bold; font-size:18px">Media</div>
                    {% for tag in media %}
                    {% if current_user.is_authenticated and current_user.level < 2 %}
                    <div class="form-group row justify-content-center" style="margin:0px">
                        <label class="col-8 offset-2 col-form-label" style="padding:0px">
                            <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                        </label>
                        <label class="col-2" style="margin:0px; padding:0px; display:flex; align-items: center;" onclick="confirm_delete('{{ tag.tag }}')">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </label>
                    </div>
                    {% else %}
                    <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                    <br>
                    {% endif %}
                    {% endfor %}
                    <div class="mt-2" style="font-weight:bold; font-size:18px">Other</div>
                    {% for tag in other %}
                    {% if current_user.is_authenticated and current_user.level < 2 %}
                    <div class="form-group row justify-content-center" style="margin:0px">
                        <label class="col-8 offset-2 col-form-label" style="padding:0px">
                            <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                        </label>
                        <label class="col-2" style="margin:0px; padding:0px; display:flex; align-items: center;" onclick="confirm_delete('{{ tag.tag }}')">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </label>
                    </div>
                    {% else %}
                    <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                    <br>
                    {% endif %}
                    {% endfor %}
                    {% if unsorted|length != 0 %}
                    <div class="mt-2" style="font-weight:bold; font-size:18px">Unsorted</div>
                    {% for tag in unsorted %}
                    {% if current_user.is_authenticated and current_user.level < 2 %}
                    <div class="form-group row justify-content-center" style="margin:0px">
                        <label class="col-8 offset-2 col-form-label" style="padding:0px">
                            <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                        </label>
                        <label class="col-2" style="margin:0px; padding:0px; display:flex; align-items: center;" onclick="confirm_delete('{{ tag.tag }}')">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </label>
                    </div>
                    {% else %}
                    <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                    <br>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% if current_user.is_authenticated and current_user.level < 2 %}
<script type="text/javascript" src="{{ url_for('static', filename='/scripts/tags.js') }}"></script>
{% endif %}
{% endblock %}