{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col-12" align="center">
        {% if current_user.is_authenticated %}
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                {% if category == "narrow-warning" %}
                <div id="fadeout" class="alert alert-warning" style="text-align:center">
                    {{ message }}
                </div>
                {% elif category == "narrow-success" %}
                <div id="fadeout" class="alert alert-success" style="text-align:center">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
                <form method="POST" action="" style="margin:0px" class="page-item">
                    {{ addtagform.csrf_token }}
                    <div class="form-group row">
                        {{ addtagform.tag.label(class="col-sm-4 col-form-label", style="text-align:left") }}
                        <div class="col-sm-8">
                            {{ addtagform.tag(class="form-control", autocomplete="off") }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ addtagform.category.label(class="col-sm-4 col-form-label", style="text-align:left") }}
                        <div class="col-sm-8">
                            {{ addtagform.category(class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group row" style="margin:0px">
                        <div class="col-sm">
                            {{ addtagform.submit(class="btn btn-submit") }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
        <br>
        {% endif %}
        <div style="font-weight:bold; font-size:20px; word-wrap:break-word">
            All tags
        </div>
        <br>
        <div class="page-item">
            <div class="row" style="font-weight:bold">
                <div class="col-6" align="center">Characters</div>
                <div class="col-3" align="center">Media</div>
                <div class="col-3" align="center">Other</div>
            </div>
            <div class="row">
                <div class="col-3" align="center">
                    {% for tag in characters1 %}
                    {% if current_user.is_authenticated %}
                    <form method="POST" action="" style="margin:0px">
                        {{ deletetagform.csrf_token }}
                        {{ deletetagform.tag(value=tag.tag, hidden=true) }}
                        <div class="form-group row" style="margin:0px">
                            <div class="col-sm-3"></div>
                            <label class="col-sm-6 col-form-label" style="padding:0px">
                                <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                            </label>
                            <label class="col-sm-3" style="margin:0px; padding:0px; display:flex; align-items: center;">
                                {{ deletetagform.submit(hidden=true) }}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </label>
                        </div>
                    </form>
                    {% else %}
                    <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                    <br>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-3" align="center">
                    {% for tag in characters2 %}
                    {% if current_user.is_authenticated %}
                    <form method="POST" action="" style="margin:0px">
                        {{ deletetagform.csrf_token }}
                        {{ deletetagform.tag(value=tag.tag, hidden=true) }}
                        <div class="form-group row" style="margin:0px">
                            <div class="col-sm-3"></div>
                            <label class="col-sm-6 col-form-label" style="padding:0px">
                                <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                            </label>
                            <label class="col-sm-3" style="margin:0px; padding:0px; display:flex; align-items: center;">
                                {{ deletetagform.submit(hidden=true) }}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </label>
                        </div>
                    </form>
                    {% else %}
                    <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                    <br>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-3" align="center">
                    {% for tag in media %}
                    {% if current_user.is_authenticated %}
                    <form method="POST" action="" style="margin:0px">
                        {{ deletetagform.csrf_token }}
                        {{ deletetagform.tag(value=tag.tag, hidden=true) }}
                        <div class="form-group row" style="margin:0px">
                            <div class="col-sm-3"></div>
                            <label class="col-sm-6 col-form-label" style="padding:0px">
                                <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                            </label>
                            <label class="col-sm-3" style="margin:0px; padding:0px; display:flex; align-items: center;">
                                {{ deletetagform.submit(hidden=true) }}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </label>
                        </div>
                    </form>
                    {% else %}
                    <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                    <br>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-3" align="center">
                    {% for tag in other %}
                    {% if current_user.is_authenticated %}
                    <form method="POST" action="" style="margin:0px">
                        {{ deletetagform.csrf_token }}
                        {{ deletetagform.tag(value=tag.tag, hidden=true) }}
                        <div class="form-group row" style="margin:0px">
                            <div class="col-sm-3"></div>
                            <label class="col-sm-6 col-form-label" style="padding:0px">
                                <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                            </label>
                            <label class="col-sm-3" style="margin:0px; padding:0px; display:flex; align-items: center;">
                                {{ deletetagform.submit(hidden=true) }}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </label>
                        </div>
                    </form>
                    {% else %}
                    <a href="{{ url_for('results.search_results', query=tag.tag) }}" class="tag-link" style="word-wrap: break-word;">{{ tag.tag }}</a>
                    <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}