body {
    font-family: '游ゴシック',YuGothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,sans-serif;
    background: linear-gradient(to right, #d3f4f8bf 0%,#ffebf9bf 100%);
}

.page-item {
    border: 0px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 16px;
}

.addtag-small {
    border-color:rgb(206, 212, 218);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

.tag-link {
    color:black;
    transition: color 0.1s linear;
}

.tag-link:hover {
    text-decoration: none;
    color:rgb(0, 172, 198);
}

.reverse-link {
    color: rgb(0, 172, 198);
    transition: color 0.1s linear;
}

.reverse-link:hover {
    text-decoration: none;
    color: black;
}

.nav-link-custom {
    transition: color 0.1s linear;
}

.nav-link-custom:hover {
    text-decoration: none;
}

.btn-logout {
    background-color: #c82333;
    border: 0px;
    color: white;
    transition: background-color 0.1s linear;
}

.btn-logout:hover {
    text-decoration: none;
    background-color:#990000;
    color: white;
}

.btn-submit {
    background-color: #00acc6;
    border: 0px;
    color: white;
    transition: background-color 0.1s linear;
}

.btn-submit:focus {
    text-decoration: none;
    background-color:#00acc6;
    color: white;
}

.btn-submit:hover {
    text-decoration: none;
    background-color:#008599;
    color: white;
}

.btn-submit-disabled {
    background-color: lightblue;
    border: 0px;
    color: white;
    transition: background-color 0.1s linear;
}

.footer {
    height:56px;
    background-color: rgb(0, 172, 198);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-link {
    color:rgba(255,255,255,.5);;
    transition: color 0.1s linear;
}

.footer-link:hover {
    text-decoration: none;
    color:rgba(255,255,255,.75);;
}

#main-wrapper {
    padding: 0 0 100px;
    position: relative;
}

.dot1 {
    animation: visibility1 5s linear infinite;
}
   
@keyframes visibility1 {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
   
.dot2 {
    animation: visibility2 5s linear infinite;
}
   
@keyframes visibility2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
   
.dot3 {
    animation: visibility3 5s linear infinite;
}
   
@keyframes visibility3 {
    0% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}